body {
    background-color: white;
}

.all-types-container {
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
}

.savings-container {
    background-color: aqua;
    width: 20%;
    border-radius: 5px;
    margin-right: 3%;
    line-height: 9%;
}

.savings-container h3 {
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-weight: bold;
    margin-left: 10%;
}

.savings-container h4 {
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-size: 14 px;
    margin-left: 10%;
}


* {
    box-sizing: border-box;
}

.row {
    justify-content: center;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 35%;
    height: 24em;
    border-radius: 20px;
    margin-bottom: 20%;
    margin-left: 5%;
    margin-top: 5%;
}

.column h2 {
    padding-top: 10px;
    padding-left: 5%;
    font-family: 'Work Sans', sans-serif;
    color: white;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}








@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    .savings-container {
        min-width: 65%;

    }
}